<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pickdot Delivery</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>PICKDOT DELIVERY</h1>
<nav>

<a href="home.html"><button>HOME</button></a>
<a href="contact.html"><button>CONTACT</button></a>
<a href="about.html"><button>ABOUT</button></a>
<a href="gallery.html"><button>GALLERY</button></a>
<a href="login.html"><button>LOGIN</button></a>
<a href="registration.html" ><button>REGISTRATION</button></a>
<hr>
    </nav>
<P><b>TEL:</b>0702717754</P>
<P><b>EMAIL:</b>ogengaian@gmail.com</P>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.288057185346!2d36.80150005541992!3d-1.2804614000000043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10d3594fa8d7%3A0xf72632e18c26658b!2sSalvation%20Army%20Head%20Quarters!5e0!3m2!1sen!2ske!4v1716732555970!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>








</body>
</html>