<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pickdot Delivery</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>PICKDOT DELIVERY</h1>
<nav>

<a href="home.html"><button>HOME</button></a>
<a href="contact.html"><button>CONTACT</button></a>
<a href="about.html"><button>ABOUT</button></a>
<a href="gallery.html"><button>GALLERY</button></a>
<a href="login.html"><button>LOGIN</button></a>
<a href="registration.html" ><button>REGISTRATION</button></a>
<hr>
    </nav>

<h3 style="text-align: center">PENTAGON </h3>



<div class="raila" style="text-align: center">
    <img src="/images/biology.jpg" width="300px"; height="300px;" alt="RAO">
    <p>RAILA ODINGA</p>
    <p>PRESIDENTIAL CANDIDATE</p>

    </div>


<div class="mike">

    <div>
        <img src="/images/kiswahili.jpg" alt="">
        <p>RAILA ODINGA</p>
    <p>PRESIDENTIAL CANDIDATE</p><br>
        <img src="/images/biology.jpg" alt=""><p>RAILA ODINGA</p>
    <p>PRESIDENTIAL CANDIDATE</p>
    </div>


    <div >
        <img src="/images/chemistry.jpg" alt=""><p>RAILA ODINGA</p>
    <p>PRESIDENTIAL CANDIDATE</p><br>
        <img src="/images/english.jpg" alt=""><p>RAILA ODINGA</p>
    <p>PRESIDENTIAL CANDIDATE</p>
    </div>



</div>



</body>
</html>