<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pickdot Delivery</title>
    <link rel="stylesheet" href="/css/style.css">




</head>
<body>

<h1>PICKDOT DELIVERY</h1>
<nav>

<a href="home.html"><button>HOME</button></a>
<a href="contact.html"><button>CONTACT</button></a>
<a href="about.html"><button>ABOUT</button></a>
<a href="gallery.html"><button>GALLERY</button></a>
<a href="login.html"><button>LOGIN</button></a>
<a href="registration.html" ><button>REGISTRATION</button></a>
<hr>
    </nav>

<div class="container">

     <div>

            <p class="simba">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda culpa deserunt doloremque, eligendi eos eum facilis itaque, iusto magni maiores modi
    molestias officia optio sed unde velit voluptatem? Delectus?</p>

<p class="otoyo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum illo necessitatibus voluptas voluptatibus voluptatum. Aperiam consectetur culpa ducimus expedita impedit inventore iure laboriosam laudantium,
    non, quidem quos ratione saepe similique!</p>

<p class="sibuor">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, architecto asperiores consequuntur eligendi fugit numquam officia perferendis quaerat reprehenderit similique sint
    temporibus ullam voluptatum? Deserunt dolorem ea sit ut vel?</p>
    </div>

   <div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores autem commodi corporis cumque debitis deleniti, illo maxime minima molestiae nulla numquam obcaecati
    odio perferendis, quos sunt voluptatem. Est, ex?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque aut deserunt distinctio doloribus illum in incidunt molestias necessitatibus nesciunt nisi nobis numquam
    optio quaerat quam qui repellendus reprehenderit, sed?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet delectus distinctio dolor dolorem error expedita, fugiat incidunt inventore ipsum iure nihil,
    nostrum omnis quasi ullam velit vero voluptatem voluptatibus!</p>
   </div>

<div class="omoro">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aspernatur consequatur, deserunt explicabo possimus quae quisquam totam unde velit! Ab blanditiis
    magnam optio, perspiciatis quae quam quisquam repellat ullam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda consequatur cumque dolore dolores eligendi enim fuga, illum in ipsa ipsam
    minus obcaecati quasi quo recusandae tempore vero vitae? Odio!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum explicabo non nostrum rem? Accusantium aperiam consequatur dolorum ducimus eum iure,
    iusto magni nam porro praesentium quae quas sint ut voluptatem!</p>

    </div>
    <div>
        <img src="/images/kiswahili.jpg" alt="" width="80px" height="80px">
    </div>

</div>








</body>
</html>