<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pickdot Delivery</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>PICKDOT DELIVERY</h1>
<nav>

<a href="home.html"><button>HOME</button></a>
<a href="contact.html"><button>CONTACT</button></a>
<a href="about.html"><button>ABOUT</button></a>
<a href="gallery.html"><button>GALLERY</button></a>
<a href="login.html"><button>LOGIN</button></a>
<a href="registration.html" ><button>REGISTRATION</button></a>
<hr>
    </nav>

<a href=""></a>








</body>
</html>