<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pickdot Delivery</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 style=" text-align: center">PICKDOT DELIVERY</h1>
<nav>

<a href="home.html"><button>HOME</button></a>
<a href="contact.html"><button>CONTACT</button></a>
<a href="about.html"><button>ABOUT</button></a>
<a href="gallery.html"><button>GALLERY</button></a>
<a href="login.html"><button>LOGIN</button></a>
<a href="registration.html" ><button>REGISTRATION</button></a>
<hr>
    </nav>

<h3>Register as a member</h3>
<fieldset style="width: 600px; height: 600px">

<form action="">
    <label>FIRST NAME:</label>
    <input type="text" placeholder="ian"><br><br>
    <label>LAST NAME:</label>
    <input type="text" placeholder="oduor"><br><br>
    <label>PHONE:</label>
    <input type="text" placeholder="0702717754"><br><br>
    <label>EMAIL:</label>
    <input type="text" placeholder="ogengaian@gmail"><br><br>
    <label>MESSAGE US</label><br>
    <textarea></textarea><br><br>
    <label>Choose your Gender</label><br>
    <label>MALE</label>
    <input type="radio"  name="Gender"><br>
    <label>FEMALE</label>
    <input type="radio" name="Gender"><br>
    <label>Choose your pet</label><br>
    <label>Dog</label>
    <input type="checkbox"><br>
    <label>Cat</label>
    <input type="checkbox">

    <h4>RESIDENCE</h4>

    <select name="embakasi" id="EMBAKASI">

        <option value="">Nairobi</option>
        <option value="">Mombasa</option>
        
        
        
        
        
    </select>

    </fieldset>
    


    
    
    
    
    
    
    
</form>

    
    
    
    







</body>
</html>